exportClasses(klausuR)
exportClasses(klausuR.answ)
exportClasses(klausuR.mult)
exportClasses(klausuR.test)
export(compare)
export(grand.table)
export(klausur)
export(klausur.data)
export(klausur.gen)
export(klausur.gen.corr)
export(klausur.gen.marks)
export(klausur.mufo)
export(klausur.report)
exportMethods(plot)
exportMethods(show)
exportMethods(sort.klausuR)
export(nret.rescale)
export(nret.translator)
import(graphics)
import(methods)
import(psychometric)
import(tools)
import(xtable)
