export(grand.table)
import(methods)
exportClasses(klausuR.answ)
exportClasses(klausuR)
export(klausur.compare)
export(klausur.data)
export(klausur.gen.corr)
export(klausur.gen.marks)
export(klausur.gen)
import(psychometric)
export(klausur.mufo)
exportClasses(klausuR.mult)
export(klausur)
import(xtable, graphics, tools)
export(klausur.report)
export(nret.rescale)
export(nret.translator)
exportMethods(plot)
exportMethods(show)
